<div class="boost">
  <div class="image-section-boost">
    <div class="image-container-boost">
      <div class="image-wrapper">
        <img src="/images/drink.png" alt="Drink" />
        <div class="overlay">
          <div class="text">
            <h4>Boost</h4>
            Coffee Perk Points
          </div>
        </div>
      </div>
      <p class="boost-text">Sip and save!</p>
      <h4>
        Every coffee you purchase receives points to your account. Every sip you
        take, we'll be awarding you!
      </h4>
    </div>

    <div class="image-section-boost">
      <div class="image-container-boost">
        <div class="image-wrapper">
          <img src="/images/post.png" alt="Post" />
          <div class="overlay">
            <div class="text">
              <h4>Boost</h4>
              Post Perk Points
            </div>
          </div>
        </div>
        <p class="boost-text">Post your pics!</p>
        <h4>
          Every pic you post on our shar page receives points to your account.
          Every photo you take, we'll be awarding you!
        </h4>
      </div>
      <div class="image-section-boost">
        <div class="image-container-boost">
          <div class="image-wrapper">
            <img src="/images/shop-boost.png" alt="Shop" />
            <div class="overlay">
              <div class="text">
                <h4>Boost</h4>
                Shop Perk Points
              </div>
            </div>
          </div>
          <p class="boost-text">Shop till you drop!</p>
          <h4>
            Every item you purchase from our delicattessen receives points to
            your account. Every item you purchase, we'll be awarding you!
          </h4>
        </div>
      </div>
      <div class="button-container">
        <a href="/blog"> <button>Find Out More</button></a>
        <a href="/signup"> <button>Join Now</button></a>
      </div>
      <div class="bottom-space"></div>
    </div>
  </div>
</div>
