<h2>Forgot Your Password?</h2>

<% if (typeof message !== 'undefined') { %>
  <p><%= message %></p>
<% } %>

<form action="/forgot-password" method="post">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
    
    <button type="submit">Reset Password</button>
</form>
<p></p>
<div class="description"><h2>Savour the Flavour</h2>
    <h4>Our coffee partners source their beans from the finest in the world, providing a rich flavour profile. Every sip is a new experience!<br>Check out what members have posted below<br></h4></div>
    