
    <h2>form</h2>
</form>

<h1>Form</h1>

<form action="/coffees/upload" method="post" enctype="multipart/form-data">
    <label for="">file upload</label>
    <input type="file" name="uploadfile">
    <button>submit</button>

</form>
