
<div class="description"><h2>Savour the Flavour</h2>
<h4>Our coffee partners source their beans from the finest in the world, providing a rich flavour profile. Every sip is a new experience!<br>Check out what members have posted below<br></h4></div>

<% for (let coffee of coffees)  { %>
        
    <h2>
        <a href="/coffees/<%= coffee.id %>">
            <span class="coffee-name"><%= coffee.coffee_name %></span>
        </a>
    </h2>
    
<img src="<%= coffee.image_url %>" alt="">

<% } %>
<div class="bottom-space"></div>