<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <nav>
        <div class="logo"><a href="/"><img src="/images/Perk_Points_Logo(1).png" alt="Logo"></a></div>
        <a href="/">home</a>
        <a href="/locations">locations</a>
        <% if (userId) { %>
            <a href="/coffees/new">share</a>
            <a href="/account">account</a>
            <!-- <a href="/coffees/account">account</a> -->
            <form action="/logout" method="post">
                <input type="hidden" name="_method" value="delete">
                <button>logout</button>
            </form>
        <% } else { %>
            <a href="/login">login</a>
            <a href="/signup">signup</a>
        <% } %>
    </nav>

    <div class="back-ground-color">
    <div class="wordmark"><a href="/"><img src="/images/Perk_Points_Wordmark.png" alt="Logo"></a></div>

    <%- body %>
    </div>

    <div class="footer">
    <footer></footer>
</div>

</body>
</html>
