<div class="description">
    <h2>Participating Locations</h2>
    <h4>Welcome to Perk Points, where every sip counts!<br>Share your love for coffee with the world. As a member, you can post your coffee moments, earn points, and brew up rewards!<br></h4>
</div>

<div class="cafe">
    <h2>Four Leaves Food Store</h2>
    <p>123 Smith St, Melbourne, VIC, 3000</p>
    <p>Operating Hours: 6am - 4pm</p>
    <img src="/images/Four Leaves Food Store.webp" alt="Cafe Four Leaves">
</div>

<div class="cafe">
    <h2>Cafe Espresso</h2>
    <p>456 Black St, Melbourne, VIC, 3000 </p>
    <p>Operating Hours: 7am - 7pm</p>
    <img src="/images/Four Leaves.webp" alt="Cafe 2">
</div>
<p></p>
<p></p>
<p></p>
<p></p>
