
<div class="description"><h2>Share a Pic!</h2>
    <h4>share a pic of you best coffee and win more perk points!<br>Our coffee partners source their beans from the finest in the world, providing a rich flavour profile. Every sip is a new experience!<br>Check out what members have posted below<br></h4></div>

<form action="/coffees" method="post">
    
    <label for="">Coffee Name</label>
    <input name="title" type="text" id="coffeeName" placeholder="type of coffee">
    <label for="">image url</label>
    <input name="image_url" type="text">
    <button>share</button>

    </form>
<p></p>
<p></p>
<p></p>
<p></p>



