<h2>share a pic of you best coffee and win more perk points!</h2>

<form action="/coffees" method="post">
    
    <label for="">Coffee Name</label>
    <input name="title" type="text" id="coffeeName" placeholder="type of coffee">
    <label for="">image url</label>
    <input name="image_url" type="text">
    <button>share</button>





</form>