<title>Café Owner Page</title>
<script src="/html5-qrcode/html5-qrcode.min.js"></script>
<script src="/qr-scanner.js"></script>
</head>
<body>
  <h2><center>Welcome to the Café Owner Page!</center></h2>
  <div class="description"><h2><center>Track the Points</h2>
<h4>By scanning below you can add reward points to your customer's Perk Points account. <br>5 points for every coffee purchased!<br></h4>

  <div id="reader"></div><br><br>
  <div id="qr-code-scanner"></div>
  <p id="points"></p>
 

  <p id="user-name"></p>
  <p id="user-email"></p>
  <p id="user-points"></p>
</div><button id="redeem-button">Redeem</button><button id="add-points-button">Add Points</button>
  <p id="message"></p></center>
</body>
</html>
<div class="bottom-space"></div>
