<title>Café Owner Page</title>
<script src="/html5-qrcode/html5-qrcode.min.js"></script>
<script src="/qr-scanner.js"></script>
</head>
<body>
  <h2 style="text-align: center;">Welcome to the Café Owner Page!</h2>
  <div class="description"><h2 style="text-align: center;">Track the Points</h2>
<h4 style="text-align: center;">By scanning below you can add reward points to your customer's Perk Points account. <br>5 points for every coffee purchased!<br></h4>

  <div id="reader"></div><br><br>
  <div id="qr-code-scanner"></div>
  <p id="points"></p>
 
<div style="text-align: center;">
      <p id="user-name"></p>
      <p id="user-email"></p>
      <p id="user-points"></p>
      <button id="redeem-button">Redeem</button>
      <button id="add-points-button">Add Points</button>
      <p id="message"></p>
    </div>
  </div>
</body>
</html>
<div class="bottom-space"></div>
