<title>Café Owner Page</title>
<script src="/node_modules/html5-qrcode/html5-qrcode.min.js"></script>
</head>
<body>
  <h2><center>Welcome to the Café Owner Page!</center></h2>
  <div class="description"><h2><center>Track the Points</center></h2>
<h4>By scanning below you can add reward points to your customer's Perk Points account. <br>5 points for every coffee purchased!<br></h4></div>

  <div id="reader"></div>
  <script src="/qr-scanner.js"></script><br><br>
</body>
</html>
<div class="bottom-space"></div>
