<div class="description"><h2>Check out this Coffee!</h2>
    <h4>Do you know that every time you post or share a coffee from one of our affiliated cafes that you are earning points and reaping the rewards of your Perk Point membership?<br></h4></div>

<h2 class="coffee-name"><%= coffee.coffee_name %></h2>

<p></p>
<img src="<%= coffee.image_url %>" alt="">
<div class="description"><h3>Want to delete or update your coffee?</h2>
    <h4>Go right ahead...we love getting our members updates!</h4></div>

<form action="/coffees/<%= coffee.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>delete</button>
</form>


<form action="/coffees/<%= coffee.id %>/edit" method="get">
    <button type="submit">update</button>
</form>
<p></p>
<p></p>
<p></p>